# Python
__pycache__/
*.py[cod]
*.so

# Jupyter Notebooks
.ipynb_checkpoints

# IDEs
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Logs
*.log

# Data
*.tif
*.shp
*.gpkg
*.csv

# Specific files based on observation
lulc_forest_50_90.tif
roads_proj.gpkg
rivers_proj.gpkg